body
  background #e0e0e0
  font-family Arial, sans-serif
  text-align center

#timer_text
  color #00aaff
  font-size 128px
  margin 40px auto
  text-shadow 0 1px 0 rgba(255,255,255, 0.5)

.btn
  display inline-block
  width 100px
  padding 7px
  border-radius 5px
  box-shadow 0 4px 0 #0088cc
  color #fff
  background #00aaff
  cursor pointer
  opacity 0.5
  & + .btn
    margin-left 10px
  &.active
    opacity 1.0
